<div id="carousel" class="carousel slide" data-ride="carousel" ng-controller="sliderCtrl">
  <!--
    <ol class="carousel-indicators">
        <li ng-repeat="slide in slides" data-target="#carousel" data-slide-to="{{$index}}" class="" ng-class="{ active: $index == 0}"></li>
    </ol>
  -->
    <div class="carousel-inner" role="listbox">
        <div ng-repeat="slide in slides" class="item" ng-class="{ active: $index == 0}">
            <div class="container view-container">
                <div class="">
                    <img ng-show="slide.logo" class="slide_logo" src="{{slide.logo}}">
                    <div class="icon-center"></div>
                    <h1 class="text-center">{{slide.title}}</h1>
                    <ul class="lines-text">
                        <li ng-repeat="text in texts" ng-bind-html-unsafe="text.line">{{text.line}}</li>
                    </ul>
                    <button ng-show="slide.btn_block_text" type="button" class="btn btn-primary btn-block">
                        {{slide.btn_block_text}}
                    </button>
                    <button ng-show="slide.btn_block_text2" type="button" class="btn btn-primary btn-block">
                        {{slide.btn_block_text2}}
                    </button>
                    <div class="btn-sticky row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="button" ng-click="foo()" class="btn btn-primary btn-lg responsive-width-left k"> {{slide.btn_text}}</button>
                                <button type="button" class="btn btn-primary btn-lg responsive-width-right"> {{slide.btn_text2}}</button>
                            </div>
                            <div class="text-left text-footer">{{slide.footer_label}}</div>
                            <div class="text-left text-footer">{{slide.footer_label2}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <div class="btn-sticky row">
      <div ng-repeat="slide in slides" class="item" ng-class="{ active: $index == 0}">
        <div class="col-sm-12">
            <div class="text-center">
                <button type="button" ng-click="foo()" class="btn btn-primary btn-lg responsive-width-left k"> {{slide.btn_text}}</button>
                <button type="button" class="btn btn-primary btn-lg responsive-width-right"> {{slide.btn_text2}}</button>
            </div>
            <div class="text-left text-footer">{{slide.footer_label}}</div>
            <div class="text-left text-footer">{{slide.footer_label2}}</div>
        </div>
      </div>
    </div>
</div>
