/* main css */
html, body {
  background-color: transparent;
  height:100%;
}
.col-md-12,.row {
  height:100%;
}
.row > div {
  height:100%;
}
.view-container{
  width:100%;
}

/* to make columns visible */
.row .col-sm-2 {
  background-color:#eee;
}
.row .col-sm-10 {
  background-color:#ddd;
}

/* background Video */

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

/* General */

h1, p{
  color: #fff;
}

/* Extra Small Devices, Phones */

@media only screen and (max-width : 480px) {
  #logo{
    background: transparent url('../img/logo_claromusica_inicio_small.png') no-repeat;
    width: 400px;
    height: 75px;
    position: relative;
    left: 90px;
  }
  .slide_logo{
    position: relative;
    height: auto;
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    top: 5px;
  }
  label{
    position: relative;
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
  .icon-center{
    background: url("../img/icon_start.png") no-repeat;
    width: 56px;
    height: 56px;
    position: relative;
    /* top: 50px; */
    margin: 0 auto;
  }
  .title-slide{
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    margin: 5px 0 5px 0;
    font-weight: bold;
  }
  .label-slide{
    font-weight: bold;
    color: #0E498A;
    font-size: 1em;
    text-align: center;
  }
  .lines-text{
    font-size: 1.2em;
    color: #fff;
    position: relative;
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
    .lines-text li{
      white-space: normal;
    }
  .btn-block{
    word-wrap: break-word;
    white-space: normal;
    border: 1px solid #333;
    margin-top: 30px;
    background: #0f55a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #333336 0%, #020203 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #333336 0%,#020203 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #333336 0%,#020203 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333336', endColorstr='#020203',GradientType=0 ); /* IE6-9 */
  }
  .super_sticky{
    width: 100%;
    color: #fff;
    background: yellow;
    height: 50px;
    top: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .btn-sticky-footer{
      background: #0f55a1; /* Old browsers */
      background: -moz-linear-gradient(top,  #0f55a1 0%, #0d2e53 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #0f55a1 0%,#0d2e53 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #0f55a1 0%,#0d2e53 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f55a1', endColorstr='#0d2e53',GradientType=0 ); /* IE6-9 */
  }
  .btn-sticky {
    background-color: yellow;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
    .btn-sticky .responsive-width-left, .responsive-width-right{
      background: #1e3c72; /* fallback for old browsers */
      background: -webkit-linear-gradient(to down, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to down, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

  .btn-block-custom{
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 250px;
  }
  .text-footer{
    float: left;
    color:#fff;
    margin-left: 10px;
  }
  .carousel{
    position: relative;
    width: 100%;
    height:100%;
  }
  .carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    height: 100%;
  }
  .item, .active {
    width: 100%;
    height:100%;
  }
  .carousel-inner {
    width: 100%;
    height:100%;
    margin-bottom:50px;
  }
  .carousel-indicators {
    bottom: 80px;
  }
  .footer-block{
    width: 100%;
    position: relative;
    height: 5px;
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    overflow: hidden;
  }
    .footer-block .text-footer-left{
      float:  left;
      color: #fff;
    }
    .footer-block .text-footer-right{
      float:  right;
      color: #fff;
    }
}

/* Tablets */

@media only screen and (min-width : 768px){

  #logo{
    background: transparent url('../img/logo_claromusica_inicio_small.png') no-repeat;
    width: 400px;
    height: 75px;
    position: relative;
    left: 90px;
  }
  .tablet_layer{
    background: #000;
    opacity: 0.9;
  }
  .slide_logo{
    position: relative;
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    top: 50px;
  }
  label{
    position: relative;
    font-size: 10px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
  }
  .icon-center{
    background: url("../img/icon_start.png") no-repeat;
    width: 56px;
    height: 56px;
    position: relative;
    top: 50px;
    margin: 0 auto;
  }
  .title-slide{
    text-align: center;
    color: #fff;
    margin: 40px 0 5px 0;
    font-weight: bold;
    font-size: 1.6em;
  }
  .label-slide{
    font-weight: bold;
    color: #0E498A;
    font-size: 1em;
    text-align: center;
  }
  .lines-text{
    font-size: 1.2em;
    color: #fff;
    position: relative;
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    top: 50px;
  }
    .lines-text li{
      white-space: normal;
    }
  .btn-block{
    word-wrap: break-word;
    white-space: normal;
    border: 1px solid #333;
    margin-top: 60px;
    background: #0f55a1; /* Old browsers */
    background: -moz-linear-gradient(top,  #333336 0%, #020203 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #333336 0%,#020203 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #333336 0%,#020203 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333336', endColorstr='#020203',GradientType=0 ); /* IE6-9 */
  }
  .super_sticky{
    width: 100%;
    color: #fff;
    background: yellow;
    height: 50px;
    top: 150px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .btn-sticky-footer{
      background: #0f55a1; /* Old browsers */
      background: -moz-linear-gradient(top,  #0f55a1 0%, #0d2e53 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #0f55a1 0%,#0d2e53 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #0f55a1 0%,#0d2e53 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f55a1', endColorstr='#0d2e53',GradientType=0 ); /* IE6-9 */
  }
  .btn-sticky {
    background-color: yellow;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
    .btn-sticky .responsive-width-left, .responsive-width-right{
      background: #1e3c72; /* fallback for old browsers */
      background: -webkit-linear-gradient(to down, #1e3c72 , #2a5298); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to down, #1e3c72 , #2a5298); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

  .btn-block-custom{
    background: #232526; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 250px;
  }
  .text-footer{
    color:#fff;
    text-align: left;
  }
  .text-footer2{
    color:#fff;
  }
  .carousel{
    position: relative;
    width: 100%;
    height:100%;
  }
  .carousel-control.left, .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    height: 100%;
  }
  .item, .active {
    width: 100%;
    height:100%;
  }
  .carousel-inner {
    width: 100%;
    height:100%;
    margin-bottom:50px;
  }
  .carousel-indicators {
    bottom: 95px;
  }
  .btn-footer{
    position: absolute;
  }
  .footer-block{
    width: 100%;
    position: relative;
    height: 5px;
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    overflow: hidden;
  }
    .footer-block .text-footer-left{
      float:  left;
      color: #fff;
    }
    .footer-block .text-footer-right{
      float:  right;
      color: #fff;
    }
}

/* spinner */

.spinner{
	text-align: center;
	margin-top: 100px;
  position:relative;
  display: block;
}


/* Animates */

.slide.ng-leave 	{ z-index:9999; }
.slide.ng-enter 	{ z-index:8888; }

/* page specific animations */

.slide.ng-leave{
  -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}
.slide.ng-enter{
  -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}
